<div class="row main bimediavous">
    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="enteteLogo">
            <h1>Et vous</h1>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h2>Une relation client qui vous réussit</h2>
        <div>Depuis 13 ans ce sont près de 6 000 clients qui font confiance à Bimedia et 130 salariés à votre service pour aider à vendre plus et mieux.</div>
        <div>
            <h3>1 - Un centre de relation client à votre écoute 7j/7, du lundi au samedi
    de 7h à 20h et de 8h à 12h le dimanche :</h3>
            <ul>
                <li>Réponse en moins de 2 minutes (délai moyen constaté).</li>
                <li>Envoi d’un sms suite à votre appel pour mesurer votre satisfaction : nous vous rappelons si vous n’êtes pas entièrement satisfait.</li>
            </ul>
        </div>
        <div>
            <h3>2 - Un accompagnement personnalisé post-installation : </h3>
            <ul>
                <li>Des tutoriels et une caisse virtuelle. </li>
                <li>Un accès privilégié à une équipe de formateurs par téléphone le 1er mois.</li>
            </ul>
        </div>
        <div>
            <h3>3 - Un dépannage sur site en une ½ journée (pour tout appel avant 13 h,
    intervention le lendemain matin pour tout appel après 13 h).</h3>
        </div>
        <div>
            <h3>4 - Des outils adaptés pour une formation personnalisée : </h3>
            <ul>
                <li>Classes virtuelles.</li>
                <li>Formations présentielles.</li>
            </ul>
        </div>
    </div>
</div>