<div class="row main diversifier">
	<div class="col-lg-6 col-md-6 col-xs-12">
        <div class="enteteLogo">
            <h1>Diversifier son activité</h1>
        </div>
        <h2>La dématerialisation</h2>
        <h3>Une offre complète et des exclusivités</h3>
        <p>Plus de 300 produits disponibles :</p>
        <ul>
            <li>Rémunérations complémentaires</li>
            <li>Augmentation de la fréquentation dans votre magasin</li>
            <li>Des avant-premières et des nouveautés</li>
        </ul><br />
        <p>Quelques uns de nos partenaires :</p>
        <div class="partenaires">
            <img src="img/moneygram.png" alt="moneygram" />
            <img src="img/amazon.png" alt="amazon" />
            <img src="img/bouygues.png" alt="bouygues" />
            <img src="img/pcs.png" alt="pcs" />
            <img src="img/sfr.png" alt="sfr" />
            <img src="img/cashway.png" alt="cashway" />
            <img src="img/orange.png" alt="orange" />
            <img src="img/lebara.png" alt="lebara" />
            <img src="img/syma.png" alt="syma" />
            <img src="img/transcash.png" alt="transcash" />
            <img src="img/spirit.png" alt="spirit" />
            <img src="img/yesbycash.png" alt="yesbycash" />
            <img src="img/digitick.png" alt="digitick" />
            <img src="img/cdiscount.png" alt="cdiscount" />
            <img src="img/compte-nickel.png" alt="compte-nickel" />
            <img src="img/lycamobile.png" alt="lycamobile" />
            <img src="img/paysafecard.png" alt="paysafecard" />
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
         <h2>E-SHOP</h2>
        <h3>Commandez en ligne sur www.bimedia-eshop.fr</h3>
        <ul>
            <li>Nouveaux produits en partenariat avec le leader français du e-commerce</li>
            <li>Boutique en ligne de Bimedia pour vos commandes de produits physiques depuis la caisse, un ordinateur ou une tablette.</li>
            <li>Offre étendue et diversifiée : packs opérateurs, mobiles nus, cartes SIM, cartes de paiement, consommables, accessoires, etc.</li>
            <li>Nouveautés, promotions et ventes flash.</li>
            <li>Livraison sous 24 h à 48 h jours ouvrés<sup>*</sup></li>
            <li><sup>*</sup> En jours ouvrés, délai indicatif moyen constaté.</li>
        </ul>
        <p>Commandez en ligne sur <a href="http://www.bimedia-eshop.fr" title="Commandez en ligne" target="_blank">www.bimedia-eshop.fr</a></p>
    </div>
</div>