<div class="col-xs-12">
    <div class="pull-right">
     <a class="rdvLink" href="tel:0970828580" title="Demander un rendez-vous">Prenez rendez-vous avec l'un de nos conseillers - 025 105 888</a>
      <img src="http://www.bimedia.com.fr/images/fonds/liens_header.jpg" alt="bimediaTv" class="liensHeader" />
    </div>
    <div class="meta">
      <div class="page">
        <a href="#/" title="Accueil"><img src="http://www.bimedia.com.fr/images/logo_bimedia.jpg" alt="logo bimedia" /></a>
      </div>
    </div>
</div>