<div class="row main solutions">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="enteteLogo">
                <h1>Solutions</h1>
            </div>
            <h2>L'offre Logicielle</h2>
            <h3>Une solution globale, des modules adaptés à votre activité </h3>
            <br />
        </div>
        <div data-ng-controller="GammeLogicielCtrl">
            <div class="row listeLogiciels">
                <div class="col-lg-6 col-md-6 col-xs-12" data-ng-repeat="logiciel in Logiciels" style="{{logiciel.style}}">
                    <h3 style="{{logiciel.position}}">{{logiciel.nom}}</h3>
                   <p>{{logiciel.intro}}</p>
                   <ul>
                    <li data-ng-repeat="atouts in logiciel.atouts">{{atouts}}</li>
                   </ul>
                   <p>{{logiciel.plus}}</p>
                </div>
            </div>
        </div>
        <div data-ng-controller="PeripheriquesCtrl">
            <div class="row">
                <h2>Périphériques</h2>
                <h3 style="text-align:center;">Inclus dans le pack</h3>
                <div class="col-lg-4 col-md-4 col-xs-12" data-ng-repeat="perif in Peripheriques">
                    <h3>{{perif.nom}}</h3>
                    <div class="media"><img class="media-object img-responsive" ng-src="{{perif.media}}" alt="{{perif.nom}}" /></div>
                </div>
            </div>
        </div>
    </div>
</div>